// 定义暗黑模式变量
$dark-main-bg-color: #141414;
$dark-bg-color: #1f1f1f;
$dark-border-color: #414243;
$dark-text-color: #d9d9d9;
$dark-shadow-color: 5px 5px 15px rgba(255, 255, 255, 0.2);
$dark-scrollbar-bg-color: #686868;

// 需要自定义覆盖的样式
body.dark {
	background-color: $dark-main-bg-color;
	color: $dark-text-color;
	#driver-highlighted-element-stage {
		background-color: #525457;
	}
}

.dark {
	/* login container 登录样式 */
	.login-container {
		background-color: $dark-main-bg-color !important;
		.login-box {
			background-color: rgba(0, 0, 0, 0.8) !important;
			.login-form {
				background-color: $dark-main-bg-color !important;
				box-shadow: $dark-shadow-color !important;
				.login-logo {
					.logo-text {
						color: $dark-text-color !important;
					}
				}
				.login-btn {
					.ant-btn-default {
						color: $dark-text-color !important;
					}
				}
			}
		}
	}

	// container
	.container {
		// sider
		.ant-layout-sider {
			border-right: 1px solid $dark-border-color !important;
			background: $dark-bg-color;
			.ant-menu {
				background: $dark-bg-color;
				&::-webkit-scrollbar {
					background-color: $dark-bg-color !important;
				}
				&::-webkit-scrollbar-thumb {
					background-color: $dark-scrollbar-bg-color !important;
				}
			}
			.logo-box {
				border-bottom: 1px solid $dark-border-color !important;
			}
		}

		// layout
		.ant-layout {
			background-color: $dark-main-bg-color !important;

			// 通用
			.ant-layout-header,
			.tabs,
			.footer,
			.card {
				background-color: $dark-bg-color !important;
				border-color: $dark-border-color !important;
				.text {
					color: $dark-text-color !important;
				}
			}

			// 头部
			.ant-layout-header {
				.icon-style,
				.username {
					color: $dark-text-color !important;
				}
			}

			// 底部
			.ant-layout-footer {
				background-color: $dark-bg-color !important;
				border-color: $dark-border-color !important;
				a {
					color: $dark-text-color !important;
				}
			}

			// 内容
			.ant-layout-content {
				&::-webkit-scrollbar {
					background-color: $dark-main-bg-color !important;
				}
				&::-webkit-scrollbar-thumb {
					background-color: $dark-scrollbar-bg-color !important;
				}
				.card {
					&::-webkit-scrollbar {
						background-color: $dark-bg-color !important;
					}
					&::-webkit-scrollbar-thumb {
						background-color: $dark-scrollbar-bg-color !important;
					}
				}
			}
		}
	}
}
