// 需要自定义覆盖的样式
body {
	background-color: var(--main-bg-color);
	color: var(--text-color);
	#driver-highlighted-element-stage {
		background-color: #fff;
	}
}

/* login container 登录样式 */
.login-container {
	background-color: #eeeeee !important;
	.login-box {
		background-color: rgba(255, 255, 255, 0.8) !important;
		.login-form {
			background-color: transparent !important;
			box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2) !important;
			.login-logo {
				.logo-text {
					color: #475768 !important;
				}
			}
			.login-btn {
				.ant-btn-default {
					color: #606266 !important;
				}
			}
		}
	}
}

// container
.container {
	// sider
	.ant-layout-sider {
		border-right: 1px solid var(--border-color) !important;
		.ant-menu {
			&::-webkit-scrollbar {
				background-color: #001529 !important;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #41444b !important;
			}
		}
		.logo-box {
			border-bottom: 1px solid #010b14 !important;
		}
	}

	// layout
	.ant-layout {
		background-color: var(--main-bg-color) !important;

		// 通用
		.ant-layout-header,
		.tabs,
		.footer,
		.card {
			background-color: var(--bg-color) !important;
			border-color: var(--border-color) !important;
		}

		// 头部
		.ant-layout-header {
			background-color: var(--bg-color) !important;
			border-color: var(--border-header-color) !important;
			.icon-style,
			.username {
				color: var(--text-color) !important;
			}
		}

		// 底部
		.ant-layout-footer {
			background-color: var(--bg-color) !important;
			border-color: var(--border-color) !important;
			a {
				color: var(--text-color) !important;
			}
		}

		.card {
			box-shadow: var(--shadow-color) !important;
			.text {
				color: #585858 !important;
			}
		}

		// 内容
		.ant-layout-content {
			&::-webkit-scrollbar {
				background-color: var(--main-bg-color) !important;
			}
			&::-webkit-scrollbar-thumb {
				background-color: var(--scrollbar-bg-color) !important;
			}
			.card {
				&::-webkit-scrollbar {
					background-color: var(--bg-color) !important;
				}
				&::-webkit-scrollbar-thumb {
					background-color: var(--scrollbar-bg-color) !important;
				}
			}
		}
	}
}
